

.codeGrid{
    border:1px solid black;
    position: relative;
    width: 5vh;
    height: 5vh;
    float: left;
    padding:2.5%;
    text-align:center;
}

.weightCell{
    color:red;
}

.flag-danger{
    height: 10vh;
}