

.codeGrid{
    border:1px solid black;
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
    padding:2.5%;
    text-align:center;
}

.weightCell{
    color:red;
}

.flag-danger{
    height: 10vh;
}
.gridx{
    height: auto;
    width: 420px;
    max-width: 450px;
}