<div class="d-flex p-2 justify-content-center">
  <div class="codeBox p-2 mb-4 rounded">
    <h3>YOUR CODE NOW: {{ codegenService.myCode }}</h3>
  </div>
</div>
<div class="p-2 flex-fill">
  <div class="">
    <form>
      <div class="form-row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Payment"
            [(ngModel)]="paymentName"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Amount"
            [(ngModel)]="amount"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="addToPayments()">
            + ADD
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="p-2 flex-fill">
  <div class="">
    <label for="tblPayment">Payments</label>
    <table id="tblPayment" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">AMOUNT</th>
          <th scope="col">CODE</th>
          <th scope="col">GRID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let _ of payments; index as i">
          <td>{{ _.name }}</td>
          <td>{{ _.amount }}</td>
          <td>{{ _.code }}</td>
          <td>64</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
