
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../assets/img/angular.svg" height="32" alt="Nice green circle"/> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/generator" routerLinkActive="active">Generator</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/payments" routerLinkActive="active">Payments</a>
      </li>
    </ul>
  </div>
</nav>
<!-- the body o the APP-->
<div role="main" class="container">
  <div class="p-2 flex-fill">
    <div>
         <!-- The routed views render in the <router-outlet>-->
        <router-outlet></router-outlet>
    </div>
  </div>
</div>